.filterwidget{
    border-top: gray 1px solid;
    border-bottom: gray 1px solid;;
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 5;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.filterwidget.active{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    transition: all .3s ease-in-out;
}

.filter-dropdown{
    position: fixed;
    top: 2.8rem;
    left: 0;
    right: 0;
    z-index: 5;
}


.filter{
    opacity: 0;
    transition: opacity .2s ease-in-out;
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: white;
}

.filter.desk{
    opacity: 0;
    transition: opacity .2s ease-in-out;
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 2.9rem;
    height: 450px;
    background-color: white;
}

.filter.desk.show{
    border-bottom: 2px solid black;
}


.sort{
    opacity: 0;
    transition: opacity .2s ease-in-out;
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
   top: 2.7rem;
    display: flex;
    flex-direction: column;
    background-color: white;
}



.sort-desktop{
      opacity: 0;
    transition: opacity .2s ease-in-out;
    pointer-events: none;
    position: absolute;
    top: 2.9rem;
    display: flex;
    flex-direction: column;
        width: 500px;
      right: 0;
      left: unset;  
      border: gray 2px solid ;
    border-top: none;
    background-color: white;
    }




.filter.show, .sort.show, .sort-desktop.show{
    opacity: 1;
    transition: opacity .2s ease-in-out;
    pointer-events: all;

}


.filtermenu{
    z-index: -1;
    position: relative;
    min-height: 0;
  
}

.filtermenu.show{
    z-index: 10;
 
}




.Accordion-options{
    margin-top: auto;
}




.sort-label{
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    input[type="radio"]{
        appearance: none;
        width: 15px;
        height: 15px;
        border: black solid 2px;
        cursor: pointer;
        position: relative;
    }
   
     input[type="radio"]:checked::after{
        position:absolute;
        content: '';
        top: 0;
        right:0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 6px;
        height: 6px;
        border-radius: 50%;
       background-color: black;
        cursor: pointer;
    }
}

.toggle-options{ 
    transform: rotate(0deg);
    transition: all .3s ease-in-out !important;
    color: black;
}

.toggle-options.active{
    transform: rotate(45deg);
    transition: all .3s ease-in-out !important;
    color: white;
}



.options{
    transition: all .3s ease-in-out;
    opacity: 0;
    z-index: 2;

}

.active.options{
    transition: all .3s ease-in-out;
   opacity: 1; 
}




.product-options{
    position: relative;
    max-width: fit-content;
}


.product-options::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    color: black;
}


@media screen and (max-width: 1024px) {
    .filter.show{
    display: flex;
    flex-direction: column;
    height: 100vh;
    }
    .filtermenu.show{
    z-index: 10;
    }
    .Accordion-options{
        margin-bottom: 2rem;
    }

    
}

.gridview, .listview{
    height: 0;
    opacity: 0;
    transition: all .3s ease-in-out;

    img{
        height: 0;
    }
}

.gridview.show{
    height: 100%;
    opacity: 1;
    transition: all .3s ease-in-out;
}

.listview.show{
    height: 100%;
    opacity: 1;
    transition: all .3s ease-in-out;
}

.grid-button, .list-button{
padding: 5px 10px;
transition:all .2s ease-in-out ;
color: white;
font-weight: 500;
cursor: pointer;
}

.grid-button.show{
transition:all .2s ease-in-out ;
background-color: white;
border-radius: 32px;
padding: 5px 10px;
color: black;
}

.list-button.show{
transition:all .2s ease-in-out ;
background-color: white;
border-radius: 32px;
padding: 5px 10px;
color: black;
}

.frames-wrapper, .woods-wrapper{
    transition: all .3s ease-in-out;
}

.frames-wrapper.show, .woods-wrapper.show{
    border-top: black solid 3px;
    border-bottom: black solid 3px;
}

.frames, .woods{
    max-height: 0;
    opacity: 0;
    transition: all .2s ease-in-out;
    pointer-events: none;
}

.frames.show, .woods.show{
    margin-top: 32px;
    margin-bottom: 32px;
    max-height: 144px;
    z-index: 1;
     opacity: 1;
     transition: all .2s ease-in-out;
     pointer-events: all;
}

.woods.show{
    margin-bottom: 50px;
}