.footLink{
  display: flex;
  flex-direction: column;
  gap: .5rem;

  p{
    font-weight: 400;
    font-size: 15px;
  }
  li{
    font-size: 13px;
    font-weight: 500;
    position: relative;
    width: fit-content;
  }
  li::before{
    position: absolute;
    content: "";
    bottom: -2px;
    left:0;
    height: 2px;
    width: 0;
    transition:all .2s ease-in-out ;
  }
 li:hover::before{
    width: 100%;
 }
}