.nav{
  background-color: transparent;
  z-index: 9;
  .nav-wrapper{
    max-width: 2000px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .logo{
      font-weight: 600;
      color: white;
  
    }
    ul{
      list-style: none;
      a{
        font-size: .8em;
        font-weight:500;
        text-decoration: none      
      }

    }
    .nav-right{
      display: flex;
      gap: 0;
    }
  } 

}



.nav.desktop{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 1rem 0 ;
  transition: all .3s ease-in-out;
  background-color: white;
  .nav-left{
    display: flex;
    align-items: center;
   
    .nav-link{
      padding: 1rem;
    }
    .nav-link a{
      position: relative;
      width: fit-content;     
    }
    .nav-link a::before{
      position: absolute;
      content: "";
      bottom: -5px;
      left:0;
      height: 2px;
      width: 0;
      transition:all .2s ease-in-out ;
      background-color: black;
      
    }
    .nav-link a:hover::before{
      width: 100%;
   }
  

   
   
    .logo{
      color: black;
      font-size: 30px;
      font-weight: 600;
      margin-right: 20%;
    }
  }
}


.homedropdown{
  position: absolute;
  left: 0;
  right: 0;

  z-index: -10;
}



#drop-wrapper-hero{
  position: relative;
  background-color: white;
  opacity: 0;
  transition: height .2s ease-in-out;
  color: black;
}



.dropdown{
  position: absolute;
 left: 0;
  top: 5rem;
  right: 0;
}




.drop-wrapper{
  position: relative;
  background-color: white;
  opacity: 0;
  transition: height .2s ease-in-out;
  color: black;
}






.drop-wrapper::before, .drop-wrapper-hero::before{
  position: absolute;
  content: '';
  top: 0;
  height: 2px;
  width: 0;
  background-color: black;
  transition: all .5s ease-in-out;
}

.drop-wrapper::after, .drop-wrapper-hero::after{
  position: absolute;
  content: '';
  bottom: 0;
  height: 3px;
  width: 0;
  background-color: black;
  transition: all .5s ease-in-out;
}

.dropdown.show .drop-wrapper::after ,.homedropdown.show #drop-wrapper-hero::after, .homedropdown.show #drop-wrapper-hero::before,  .dropdown.show .drop-wrapper::before{
  width: 100%;
}

.dropdown.show .drop-wrapper, .homedropdown.show #drop-wrapper-hero{
  opacity: 1;
  z-index: 1;
  transition: opacity .2s ease-in-out;
}

.products-dropdown, .designers-dropdown, .company-dropdown{
  opacity: 0;
  max-width: 2000px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  box-sizing: content-box;
  margin: auto;
  pointer-events: none;
  transition: opacity .1s ease-in-out;
  cursor: pointer;
  
}

.products-dropdown .sec, .designers-dropdown .sec, .company-dropdown .sec1, .company-dropdown .sec2, .company-dropdown .sec1, .company-dropdown .sec3{
  position: relative;
  transition: all .5s ease-in-out;
}


.products-dropdown .sec::before, .products-dropdown .sec::after, .designers-dropdown .sec::before, 
.company-dropdown .sec1::after, .company-dropdown .sec2::after, .company-dropdown .sec3::after{
  position: absolute;
  content: "";
  top: 0;
  min-height: 0;
  width: 3px;
  background-color: black;
  transition: all .4s ease-in-out;
}



.designers-dropdown .sec::before, .products-dropdown .sec::after,
.company-dropdown .sec1::after, .company-dropdown .sec2::after, .company-dropdown .sec3::after{
  right: 0;
}


.products-dropdown .sec::before{
  left: 0;
}



.company-dropdown.show .sec1::after, .company-dropdown.show .sec2::after, .company-dropdown.show .sec3::after{
  min-height: 140px;
  animation-delay: 1s;
  transition: all .5s ease-in-out;
}


.products-dropdown.show .sec::before,.products-dropdown.show .sec::after, .designers-dropdown.show .sec::before{
  min-height: 500px;
  transition: all .5s ease-in-out;
}


.products-dropdown.show, .designers-dropdown.show, .company-dropdown.show{
  opacity: 1;
  pointer-events: all;
}

.products-dropdown.show:hover{
  opacity: 1;
  pointer-events: all;
}

.nav.hero{
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  position: relative;
  transition: all .3s ease-in-out;
  .nav-left{
    display: flex;
    align-items: center;

    .nav-link{
      padding: 2rem ;
      cursor: pointer;
    }
    .nav-link a{
      position: relative;
      width: fit-content;     
    }
    .nav-link a::before{
      position: absolute;
      content: "";
      bottom: -5px;
      left:0;
      height: 2px;
      width: 0;
      transition:all .2s ease-in-out ;
      background-color: black;
      
    }
    .nav-link a:hover::before{
      width: 100%;
   }
   .nav-link:hover ~ .logo{
    color: black;
  }




   
    .logo{
  
      font-size: 30px;
      font-weight: 600;
      margin-right: 15%;
    }


  }


  .dropdown{
    top: calc(100% + 5px);
  }
}

// .nav.hero.top{
//   #nav-dropdown{
//     top: unset !important;
//     transform: translateY(-100%);
//   }
// }


.nav.mobile{
    position: fixed;
    top: 0;
  box-sizing: border-box;
  display: flex;
    border-bottom: solid white 1px;
    left:0;
    right: 0;
    transition: color .5s 2s, top .5s ;
    padding:5px 10px;
    z-index: 8;
    .nav-wrapper{
      min-width: 100%;
      
      .logo{
        font-size: 30px;
        transition: color .6s ease-in-out;
      }
      .logo2{
        color: black;
        font-size: 30px;
        font-weight: 500;
      }
    }

  
}

.nav.mobile.active{
  background-color: white;
  border-bottom: solid 1px black;
  transition: color 2s 1s , top .5s  ease-in-out !important ;
  .nav-wrapper{
    ul{
      a{
        color:black;
        
      }
    }
    .logo{
     color: black;
    }
  }
}

.mobile-nav{
  position: fixed;
  top: calc(3rem);
  background-color: white;
  left: 0;
  right: 0;
  z-index: 99;
  padding:0 10px;
  max-height: 0;
  min-height: 0;
  opacity: 0;
  transition: all .3s ease-in-out;
  pointer-events: none;
  .mobile-nav-item{
    min-height: 0;
    width: 100%;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    height: 4rem;
    a{
      color: black;
    }
    .link-name{
      font-size: 25px;
    }
  

    .my-account{
      display: flex;
      align-items: center;
      color: black;
      gap: 10px;
    }
  }
}


.mobile-nav.active{
  position: fixed;
  top: calc(3.5rem);
  background-color: white;
  left: 0;
  right: 0;
  max-height: 100%;
  min-height: 100%;
  opacity: 1;
  padding:0 10px;
  margin-top: -5rem;
  transform: translateY(5rem);
  pointer-events: all;
  transition: all .3s ease-in-out;
  .mobile-nav-item{
    width: 100%;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    height: 4rem;
    a{
      color: black;
    }
    .link-name{
      font-size: 25px;
    }
  }

  .my-account{
    display: flex;
    align-items: center;
    color: black;
    gap: 10px;
  }
  
}

