@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", serif;
}

:root{
  --accent:rgb(214, 155, 26);
}
.container{
  max-width: 1800px;
  display: flex;
  margin: auto;
}
